{
  "homeDir": "./",
  "port": 8080,
  "host": "localhost",
  "contextPath": "/",
  "applications": [
    {
      "name": "financial-control",
      "path": "/financial-control",
      "enabled": true,
      "main": "io.hdmpedro.financeiro.FinancialControlApplication",
      "classpath": ["./target/financial-control-webswing-1.0.0.jar"],
      "vmArgs": ["-Xmx512m"],
      "allowStealSession": true,
      "sessionMode": "CONTINUE_FOR_BROWSER",
      "maxClientsPerSession": 1,
      "permissions": {
        "allowLocalClipboard": true,
        "allowJsLink": true,
        "allowDownload": true
      }
    }
  ]
}